{% extends 'base.html' %}

{% block title%}{{article.article_title}}{% endblock %}

{% block content %}

<h2>{{article.article_title}}</h2>

<p>{{article.article_text}}</p>

<em>{{article.pub_date}}</em>

{% if article.was_published_recently %}
новая статья
{% endif %}

<hr>

{% if latest_comments_list %}

    {% for c in latest_comments_list %}
        <p>
            <strong>{{c.author_name}}</strong>
            <p>{{c.comment_text}}</p>
        </p>

    {% endfor %}

{% else %}
комментарии не найдены! станьте первым!
{% endif %}

<hr>

<form action="{% url 'articles:leave_comment' article.id %}" method="POST">

    {% csrf_token %}

    <input type="text" required placeholder="ваше имя" name="name"><br>
    <textarea name="text" required="" placeholder="текст комментария" cols="30" rows="10"></textarea><br>

    <button type="sibmit">оставить комментарий</button>
</form>

{% endblock %}
